* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url("https://th.bing.com/th/id/OIP.ZdMvq_9Q5gG3jAw_qrCbKAHaHa?w=178&h=180&c=7&r=0&o=5&pid=1.7");
    }
    
    #Marca-Jminnovation{
      display: flex;
      border-style: double;
      background-color: rgb(90, 124, 124);
      padding: 3%;
      justify-content: center;
  }
      .logo-item{
      
          border-style:ridge;
          width: 300px;
          background-color: rgb(134, 98, 233);
          text-align: center;
          font-style:inherit ;
        }
        
  .form-register {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
   #bo{
   width: 200%;
   background: #6df71e;
  border:darkgoldenrod;
   border-radius: 70%;
    color: rgb(0, 0, 0);
    margin: 13px 0;
    
  }